.nav-link {
  border-bottom: 3px solid transparent;
}

.nav-link:hover{
  border-bottom-color: rgba(244, 142, 0, 0.25);
}

.active {
  border-bottom-color: #ffc107;
}
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 100vh
}

.text-shadow {
  text-shadow: 2px 3px #000000;
}
.text-shadow-blur {
  text-shadow: 5px 5px 40px #000000;
}