.nav-link {
  border-bottom: 3px solid transparent;
}
.nav-footer {
  text-decoration: none;
  color: #636363;
}
.nav:hover{
  border-bottom-color: #654713;
}

.nav-footer:hover {
  background-color:#040404;
  color: #ffc107;
}

.active {
  border-bottom-color: #ffc107;
}
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 100vh
}

.text-shadow {
  text-shadow: 2px 3px #000000;
}
.text-shadow-blur {
  text-shadow: 5px 5px 40px #000000;
}

.underline::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 7px;
  background-color: #ffc107;
  display: block;
  bottom: 0;
  left: 0;
  margin-top: 10px;
}

.card-movie {
  height: 20rem;
  width: 20rem;
  background-size:cover;
}
.card-movie-upcoming {
  height: max-content;
  width: 80%;
  background-size:cover;
}

.card-movie-title {
  
  text-shadow: 1px 1px #000000;
}

.vote-average {
  width: 40px;
  height: 40px;
}

.space-movies{
  margin-top: 100px;
}

.height-movie{
  height:100rem;
}

.img-upcoming {
  height: 15rem;
  width: 12rem;
  margin: 0 auto;
}